form {
    background-color: #607D8B;
}

/* Estilos para el header */

header nav {
    background-color: #009688;
    font-size:24px;
}

header nav div a {
    color: #FFFFFF;
}

header nav div .hl-nav {
    margin-right: 20px;
    background-color: #009688;
    color: #FFFFFF;
}

.card {
    margin: 20px;
}

/* Estilos para biografia */

.social-media a {
    font-size: 30px;
    color: #455A64;
}

.social-media a:hover {
    color: #009688;
}


/* estilos para carrousel */

/* Custom styles for carousel controls */
.custom-carousel-control {
    width: 50px; /* Width of the control buttons */
    height: 50px; /* Height of the control buttons */
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    border-radius: 50%; /* Make the buttons circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-carousel-icon {
    width: 20px; /* Width of the icons */
    height: 20px; /* Height of the icons */
}
.carousel-control-prev-icon.custom-carousel-icon,
.carousel-control-next-icon.custom-carousel-icon {
    background-size: 20px 20px; /* Size of the icons */
}
/* Change the color of the icons */
.carousel-control-prev-icon.custom-carousel-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"><path d="M4.5 0L3 1.5 6.5 5 3 8.5 4.5 10 10 5.5 4.5 0z"/></svg>');
}
.carousel-control-next-icon.custom-carousel-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"><path d="M3.5 0L2 1.5 5.5 5 2 8.5 3.5 10 9 5.5 3.5 0z"/></svg>');
}


/* Estilos para Cartelera */

#contenedor-cartelera {
    background-color: #2196F3;
}

#anuncio-1 {
    margin-top: 30px;
    height:500px;
    font-size: 24px;
}

#anuncio-1 p {
    font-family: Impact, sans-serif;
    font-size: 36px;
}

#cartelera #cunt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    position: absolute;
    bottom: 30px;
    left: 160px;
}

#cartelera #pareja {
    width: 500px;
}

#cartelera #CUNT {
    width: 400px;
    position: absolute;
    bottom: 50px;
    left: 100px;
}


/* FUENTES GOOGLE */

