html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    background-image: url(Resources/img/background/clinicaUTN-portadaLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    background: #BBDEFB;
}

/* FORM LOGIN */
#form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    align-items: center;
    margin-left: auto; /* Necesario para centrar horizontalmente la card */
    margin-right: auto; /* Necesario para centrar horizontalmente la card */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: nowrap;
}

.card-container .card {
    margin-top: 2%;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    align-items: center;
}


.tabla-login {
    width: 100%;
}

/* FOOTER */
footer {
    color: white;
    background-color: #607D8B;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container-fluid button {
    color: white;
}

.container-fluid button:hover {
    color: paleturquoise;
}

.container-fluid a {
    color: coral;
}