USE [BDClinica]
GO

SET IDENTITY_INSERT [dbo].[Medico] ON


SET IDENTITY_INSERT [dbo].[Medico] OFF
GO


GO

INSERT INTO [dbo].[HorarioAtencion] ([Legajo_ha], [DiaAtencion_ha], [HorarioAtencion], [Estado_ha])
VALUES 
(10, N'Lunes', 8, 1),
(10, N'Martes', 10, 1),
(11, N'Miércoles', 12, 1),
(11, N'Jueves', 14, 1),
(12, N'Viernes', 16, 1),
(12, N'Sábado', 8, 1),
(13, N'Lunes', 10, 1),
(13, N'Martes', 12, 1),
(14, N'Miércoles', 14, 1),
(14, N'Jueves', 16, 1),
(15, N'Viernes', 8, 1),
(15, N'Sábado', 10, 1),
(16, N'Lunes', 12, 1),
(16, N'Martes', 14, 1),
(17, N'Miércoles', 16, 1)
GO

--SELECT * FROM Medico GO
--SELECT * FROM Paciente GO
SELECT * FROM HorarioAtencion GO
