html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.registro-medico-pac {
    background-color: #D3EEFF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* NAVBAR */
.navbar {
    background: #BBDEFB;
}

/* FORM LOGIN */
#form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    align-items: center;
    margin-left: auto; /* Necesario para centrar horizontalmente la card */
    margin-right: auto; /* Necesario para centrar horizontalmente la card */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: nowrap;
}

.card-container .card {
    margin-top: 2%;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    align-items: center;
}

.tabla-login {
    width: 100%;
}

#hoverNav a.navbar-brand {
    color: #607D8B;
}

#hoverNav a.navbar-brand:hover {
    color: #1976D2;
}
