body {
    background-color: #BBDEFB;
    height: 100vh;
    margin: 10%;
}

.GridViewMedico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.GridViewMedico h2 {
    font-size: 35px;
    color: #1976D2;
    text-align: center;
}

#hplMedico {
    font-size: 15px;
    color: #1976D2;
    text-align: center;
}
