
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.paciente {
    background-color: #D3EEFF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#form1 {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: nowrap;
    padding: 20px;
    border-radius: 20px;
}



.card-container .card {
    margin-top: 2%;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    background-color: #BBDEFB;
    align-items: center;
}


.menu-container h2 {
    font-size: 35px;
    color: #1976D2;
}

.back-link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.menu-link {
    color: #448AFF;
    font-size: 27px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.menu-link:hover {
    color: #BBDEFB;
    background-color: #1976D2;
}

.auto-style1 {
    width: 100%;
}

.auto-style7 {
    text-align: center;
    padding: 10px 0;
}